
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-success">
    <div class="panel-heading">实时报警信息--5秒更新最新15条数据</div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th colspan="13" class="text-center">报警详细信息</th>
                    </tr>
                    <tr>
                        <th>装置</th>
                        <th>报警位号</th>
                        <th>类型</th>
                        <th>报警信息</th>
                        <th>PV</th>
                        <th>HH</th>
                        <th>LL</th>
                        <th>PH</th>
                        <th>PL</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>中文描述</th>
                        <th>英文描述</th>
                    </tr>
                </thead>
                <tbody id="tableNow"></tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(function () {
        LoadAlarm();
        function LoadAlarm() {
            var dept = $.cookie('deptName');
            $.post("/AlarmInfo/GetListNow", { "deptName": dept }, function (result) {
                var list = "";
                $.each(result, function (indexInArray, valueOfElement) {
                    var deptName = "一套聚丙烯";
                    if (valueOfElement.DeptID==2) {
                        deptName = "二套聚丙烯";
                    }
                    list += "<tr>";
                    list += "<td>" + deptName + "</td>";
                    list += "<td>" + valueOfElement.TagName.substring(0, valueOfElement.TagName.length-5) + "</td>";
                    list += "<td>" + valueOfElement.Type + "</td>";
                    list += "<td>" + valueOfElement.AlarmValue + "</td>";
                    list += "<td>" + valueOfElement.PV + "</td>";
                    list += "<td>" + valueOfElement.HH + "</td>";
                    list += "<td>" + valueOfElement.LL + "</td>";
                    list += "<td>" + valueOfElement.PH + "</td>";
                    list += "<td>" + valueOfElement.PL + "</td>";
                    list += "<td>" + ChangeDateFormat(valueOfElement.AlarmTime) + "</td>";
                    list += "<td>" + ChangeDateFormat(valueOfElement.AlarmTimeEnd) + "</td>";
                    list += "<td>" + valueOfElement.TagDiscriptionCN + "</td>";
                    list += "<td>" + valueOfElement.TagDiscriptionEN + "</td>";
                    list += "</tr>";
                });
                $("#tableNow").empty().html(list);
            });
        }
        setInterval(LoadAlarm, 5000);
    });
</script>

