
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>报警信息管理</h2>
<div class="panel panel-success">
    <div class="panel-heading">二套聚丙烯实时报警信息--5秒更新最新10条数据</div>
    <div class="panel-body">
        <table id="bsTableNow"></table>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">二套聚丙烯历史报警信息--手动刷新</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="tbxTagNameSearch">位号：</label>
                        <input type="text" id="tbxTagNameSearch" class="form-control" placeholder="位号">
                    </div>
                    <button type="button" id="btnSearch" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span> 查询
                    </button>
                    <button type="button" id="btnReset" class="btn bg-navy">
                        <span class="glyphicon glyphicon-repeat"></span> 重置
                    </button>
                </div>
            </div>
        </div>
        <table id="bsTable"></table>
    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">二套聚丙烯报警频次统计--手动刷新</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="tbxTagNameFrequencySearch">位号：</label>
                        <input type="text" id="tbxTagNameFrequencySearch" class="form-control" placeholder="位号">
                    </div>
                    <button type="button" id="btnSearchFrequency" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span> 查询
                    </button>
                    <button type="button" id="btnResetFrequency" class="btn bg-navy">
                        <span class="glyphicon glyphicon-repeat"></span> 重置
                    </button>
                </div>
            </div>
        </div>
        <table id="bsTable"></table>
    </div>
</div>
<script>
    $(function () {
        var queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                tbxTagNameSearch: $("#tbxTagNameSearch").val(),//类型
                limit: params.limit,   //页面大小
                offset: params.offset //页码
            };
            return temp;
        };
        var columns = [
            {
                field: 'TagName',
                title: '报警位号'
            },
            {
                field: 'AlarmValue',
                title: '报警信息'
            },
            {
                field: 'AlarmTime',
                title: '时间',
                formatter: function (value, row, index) {
                    return getJsonDateTime(row.AlarmTime);
                }
            },
            {
                field: 'TagDiscriptionCN',
                title: '中文描述'
            },
            {
                field: 'TagDiscriptionEN',
                title: '英文描述',
                visible: false
            }
        ];
        $('#bsTable').bootstrapTable({
            url: '/AlarmInfo/GetList',         //请求后台的URL（*）
            contentType: 'application/x-www-form-urlencoded',
            method: 'post',                     //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            queryParams: queryParams,//传递参数（*）
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [10, 15, 20, 25],        //可供选择的每页的行数（*）
            search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: false,                //是否启用点击选中行
            //height: 600,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            showExport: false,                     //是否显示导出
            columns: columns
        });

        $('#bsTableNow').bootstrapTable({
            url: '/AlarmInfo/GetListNow',         //请求后台的URL（*）
            contentType: 'application/x-www-form-urlencoded',
            method: 'post',                     //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: false,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            //queryParams: queryParams,//传递参数（*）
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [10, 15, 20, 25],        //可供选择的每页的行数（*）
            search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: false,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: false,                //是否启用点击选中行
            //height: 600,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            showExport: false,                     //是否显示导出
            columns: columns
        });
        function LoadAlarm() {
            $("#bsTableNow").bootstrapTable('refresh');
        }
        setInterval(LoadAlarm, 5000);

        //搜索按钮
        $("#btnSearch").click(function () {
            $("#bsTable").bootstrapTable('refresh');
        });

        //重置按钮
        $("#btnReset").click(function () {
            $("#tbxTagNameSearch").val("");
            $("#bsTable").bootstrapTable('refresh');
        });

        var columnsFrequency = [
            {
                field: 'TagName',
                title: '报警位号'
            },
            {
                field: 'AlarmValue',
                title: '报警信息'
            },
            {
                field: 'AlarmFrequency',
                title: '次数'
            },
            {
                field: 'TagDiscriptionCN',
                title: '中文描述'
            },
            {
                field: 'TagDiscriptionEN',
                title: '英文描述',
                visible: false
            }
        ];
    });
</script>

