
@{
    ViewBag.Title = "报警率计算";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-danger">
    <div class="panel-heading">报警率计算</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="tbxTagNameSearch">位号：</label>
                        <input type="text" id="tbxTagNameSearch" class="form-control" placeholder="位号">
                    </div>
                    <div class="form-group">
                        <label for="tbxAlarmTimeBeginSearch">报警开始时间范围：</label>
                        <input type="text" class="form-control" id="tbxAlarmTimeBeginSearch" placeholder="报警时间范围开始">--
                        <input type="text" class="form-control" id="tbxAlarmTimeEndSearch" placeholder="报警时间范围结束">
                    </div>
                    <button type="button" id="btnSearch" class="btn btn-primary">
                        <span class="glyphicon glyphicon-cd"></span> 计算
                    </button>
                    <button type="button" id="btnReset" class="btn bg-navy">
                        <span class="glyphicon glyphicon-repeat"></span> 重置
                    </button>
                    <button type="button" id="btnExcel" class="btn btn-danger">
                        <span class="glyphicon glyphicon-export"></span> 导出
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="toolbar" class="btn-group">
                    总报警时长（秒）：<label id="lblAlarmTimeAll"></label>
                    总秒数：<label id="lblTimeAll"></label>
                    总报警率：<label id="lblRateAll"></label><label>(%)</label>
                </div>
                <table id="bsTableRate"></table>
            </div>
        </div>

    </div>
</div>
<script>
    laydate.render({
        elem: '#tbxAlarmTimeBeginSearch'
        , type: 'date'
        , format: 'yyyy-MM-dd HH:mm:ss' //可任意组合
    });

    laydate.render({
        elem: '#tbxAlarmTimeEndSearch'
        , type: 'date'
        , format: 'yyyy-MM-dd HH:mm:ss' //可任意组合
    });

    var nowDate = new Date();
    var endDate = new Date(nowDate.getTime() - 1 * 24 * 60 * 60 * 1000); //前1天
    var pre7Date = new Date(nowDate.getTime() - 7 * 24 * 60 * 60 * 1000); //前7天

    //获取当前时间，格式YYYY-MM-DD
    function getNowFormatDate(date) {
        //var date = new Date();
        var seperator1 = "-";
        var year = date.getFullYear();
        var month = date.getMonth() + 1;
        var strDate = date.getDate();
        if (month >= 1 && month <= 9) {
            month = "0" + month;
        }
        if (strDate >= 0 && strDate <= 9) {
            strDate = "0" + strDate;
        }
        var currentdate = year + seperator1 + month + seperator1 + strDate;
        return currentdate;
    }

    //设置默认时间范围
    setDateTime();
    function setDateTime() {
        $("#tbxAlarmTimeBeginSearch").val(getNowFormatDate(pre7Date) + " 00:00:00");
        $("#tbxAlarmTimeEndSearch").val(getNowFormatDate(endDate) + " 23:59:59");
    }

    $(function () {
        var queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                tbxTagNameSearch: $("#tbxTagNameSearch").val(),//位号
                tbxAlarmTimeBeginSearch: $("#tbxAlarmTimeBeginSearch").val(),//报警时间范围开始
                tbxAlarmTimeEndSearch: $("#tbxAlarmTimeEndSearch").val(),//报警时间范围结束
                deptName: $.cookie('deptName'),//装置名称
                limit: params.limit,   //页面大小
                offset: params.offset //页码
            };
            return temp;
        };

        var columns = [
            [
                {
                    title: '报警率信息',
                    rowspan: 1,
                    colspan: 8,
                    valign: "middle",
                    align: "center"
                }
            ],
            [
                {
                    field: 'TagName',
                    title: '报警位号',
                    formatter: function (value, row, index) {
                        return row.TagName.substring(0, row.TagName.length - 5);
                    }
                },
                {
                    field: 'Type',
                    title: '类型'
                },
                {
                    field: 'TimeFrequency',
                    title: '报警时长（秒）'
                },
                {
                    field: 'Range',
                    title: '时间范围秒数'
                },
                {
                    field: 'Rate',
                    title: '报警率(%)',
                    formatter: function (value, row, index) {
                        return row.Rate * 100;
                    }
                },
                {
                    field: 'TagDiscriptionCN',
                    title: '中文描述'
                },
                {
                    field: 'TagDiscriptionEN',
                    title: '英文描述',
                    visible: false
                },
                {
                    field: 'TagLevel',
                    title: '报警等级',
                    visible: false
                }
            ]
        ];
        $('#bsTableRate').bootstrapTable({
            url: '/AlarmInfo/GetListRate',         //请求后台的URL（*）
            contentType: 'application/x-www-form-urlencoded',
            method: 'post',                     //请求方式（*）
            toolbar: '#toolbar',                //工具按钮用哪个容器
            striped: true,                      //是否显示行间隔色
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            queryParams: queryParams,//传递参数（*）
            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            pageList: [10, 15, 20, 25],        //可供选择的每页的行数（*）
            search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
            strictSearch: true,
            showColumns: true,                  //是否显示所有的列
            showRefresh: true,                  //是否显示刷新按钮
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: false,                //是否启用点击选中行
            //height: 600,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
            showToggle: false,                    //是否显示详细视图和列表视图的切换按钮
            cardView: false,                    //是否显示详细视图
            detailView: false,                   //是否显示父子表
            paginationPreText: "上一页",
            paginationNextText: "下一页",
            showExport: false,                     //是否显示导出
            columns: columns
        });

        //计算按钮
        $("#btnSearch").click(function () {
            var inputTimeStart = $("#tbxAlarmTimeBeginSearch").val();
            var inputTimeEnd = $("#tbxAlarmTimeEndSearch").val();

            if (inputTimeStart === "" || inputTimeEnd === "") {
                toastr.error("日期范围必须填写完整，范围不能大于31天！", "提示");
                return false;
            }

            var startD = new Date(Date.parse(inputTimeStart.replace(/-/g, "/")));
            var endD = new Date(Date.parse(inputTimeEnd.replace(/-/g, "/")));
            var days = parseInt((endD.getTime() - startD.getTime()) / (1000 * 60 * 60 * 24));
            if (days > 31) {
                toastr.error("日期范围必须填写完整，日期范围不能大于31天！", "提示");
                return false;
            }

            if (CompareDate(inputTimeStart, inputTimeEnd)) {
                GetRateAll();
                $("#bsTableRate").bootstrapTable('refresh');
            }
            else {
                toastr.error("日期范围必须填写完整，结束日期必须大于开始日期！", "提示");
                return false;
            }
        });

        //重置按钮
        $("#btnReset").click(function () {
            $("#tbxTagNameSearch").val("");
            setDateTime();
            GetRateAll();
            $("#bsTableRate").bootstrapTable('refresh');
        });

        //导出按钮
        $("#btnExcel").click(function () {
            var tbxAlarmTimeBeginSearch = $("#tbxAlarmTimeBeginSearch").val();
            var tbxAlarmTimeEndSearch = $("#tbxAlarmTimeEndSearch").val();
            var tbxTagNameSearch = $("#tbxTagNameSearch").val();
            var deptName = $.cookie('deptName');
            window.location.href = "/AlarmInfo/ToExcelRate?tbxTagNameSearch=" + tbxTagNameSearch
                + "&deptName=" + deptName
                + "&tbxAlarmTimeBeginSearch=" + tbxAlarmTimeBeginSearch
                + "&tbxAlarmTimeEndSearch=" + tbxAlarmTimeEndSearch;
        });

        GetRateAll();
        //总报警率计算
        function GetRateAll() {
            var tbxTagNameSearch = $("#tbxTagNameSearch").val()//位号
            var tbxAlarmTimeBeginSearch = $("#tbxAlarmTimeBeginSearch").val()//报警时间范围开始
            var tbxAlarmTimeEndSearch = $("#tbxAlarmTimeEndSearch").val()//报警时间范围结束
            var deptName = $.cookie('deptName')//装置名称
            $.post("/AlarmInfo/GetRateAll",
                {
                    "tbxTagNameSearch": tbxTagNameSearch,
                    "tbxAlarmTimeBeginSearch": tbxAlarmTimeBeginSearch,
                    "tbxAlarmTimeEndSearch": tbxAlarmTimeEndSearch,
                    "deptName": deptName
                },
                function (data, textStatus, jqXHR) {
                    $("#lblTimeAll").text(data.allCount);
                    $("#lblAlarmTimeAll").text(data.timeCount);
                    $("#lblRateAll").text(data.rateAll * 100);
                }
            );
        }
    });
</script>

